*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    /* font-family: "Oswald", sans-serif; */
    font-weight: lighter;
    color:beige;
}
#crsr {
  width: 2.3vw;
  height: 2.3vw;
  border: 1px solid white;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
/* Fonts */
.biryani-extralight {
  font-family: "Biryani", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.biryani-light {
  font-family: "Biryani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.biryani-regular {
  font-family: "Biryani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.biryani-semibold {
  font-family: "Biryani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.biryani-bold {
  font-family: "Biryani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.biryani-extrabold {
  font-family: "Biryani", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.biryani-black {
  font-family: "Biryani", sans-serif;
  font-weight: 900;
  font-style: normal;
}


#main{
    width: 100%;
}
#container{
 position: relative;
  height: 100vh;
  /* overflow: hidden; */
}
#scroller{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: aqua; */
}

/* Section 1 */
#Section1{
    display: flex;
    flex-direction: column;
    font-family: "Biryani", sans-serif;
}
#navbar{
    width: 100%;
    height: 7vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-left{
    width: 50%;
    /* background-color: aqua; */
    height: 100%;
    font-size: 3vw;
    color:beige;
    line-height:3vw;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2vw 2vw;

}
#Page1{
    display:flex;
      font-family: "Biryani", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#nav-right{
      width: 50%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     font-size: 1.5vw;
    color:beige;
    line-height:1vw;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1vw 2vw;
}
#left{
width: 50%;
height: 100%;
/* background-color: aqua; */
font-size: 4vw;
 line-height:7vw;
 margin-top: 20vw;
 padding-left: 3vw;
}
#left p{
  font-size: 1.5vw;
  margin-bottom: 2vw;
  /* background-color: aqua; */
}
#right{
width: 50%;
height: 100%;
/* background-color: aqua; */
font-size: 1.3vw;
padding-right: 10vw;
}
#right p{
    width: 90%;
     margin-top: 25vw;
     margin-left: 12vw;
     /* margin-right: 5vw; */
}
/* Section 2 */
#Section2{
    /* background-color: aqua; */
    font-size: 3vw;
    padding:18vw 3vw;
    font-weight: lighter;
}

#Section3 h1{
     font-size: 7.5vw;
      /* padding-top: 3vw; */
      padding-left: 7vw;
}
#Elem-container{
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
#Elem-container .elem {
   /* background-color: red; */
   margin:2.5vw 0;
   padding: 1.5vw 3vw;
   /* border-top: 2px solid white; */
   border-bottom: 2px solid white;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.elem h5{
   font-size: 5vw;
}
.elem p{
   font-size: 2vw;
   margin-right: 10vw;
}
/* .elem img{
  width: 400px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  transform: translate(-50%,-50%);
} */
.elem img {
  width: 400px;
  height: 280px;
  object-fit: cover;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  will-change: transform, opacity;
}
.elem:nth-last-child img{
transform: translate(0, -50%);
}
/* Section 4 */
#Section4 h1{
font-size: 6.5vw;
padding-top: 7vw;
padding-left: 2vw;
margin-bottom: 2vw;
}
#Page4 {
    display:flex ;
    justify-content: space-around;
    margin:0 2vw;
}
#Page4 p{
    font-size: 2vw;
    width: 90%;
    /* background-color: aqua; */
  
}

/* Chatgpt */
.galaxy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  z-index: -2;
  transform: scale(1.1);
  transition: transform 0.4s ease-out;
}

/* Krishna PNG */
.krishna {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: transform 0.2s ease-out;
  /* filter: drop-shadow(0 0 50px #4fd9ff); */
  transform-style: preserve-3d;
  image-rendering: high-quality;
}
