*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
#container{
 position: relative;
  height: 100vh;
  /* overflow: hidden; */
}
#scroller{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: aqua; */
}
.section .box h1{
    font-size: 5vw;
    color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    /* height: 100%; */
}

.box{
    width: 100%;
    height: 70%;
    /* background-color: aqua; */
}
.box h1{
    font-size: 3vw;
}
.guy-container {
    width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#guy {
  width: 100%;
  height: 99%;
  object-fit: cover;
  z-index: -9;
  position: sticky;
 
  filter: brightness(0.8) contrast(1) blur(5px);
}
